<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to admin home</h1>

    <form action = '/admin/add_branch' method = 'POST'>
        <input type = 'text' name = 'name' placeholder = 'branch name'>
        <input type = 'number' name = 'location' placeholder = 'location'>
        <input type = 'number' name = 'contactInfo' placeholder = 'contact number'>
        <button type = 'submit'>submin</button>
    </form>
</body>
</html>