<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     

    <% if(orderId){ %>
            <h3>the order is : <%= orderId %></h3>
             <form action='/user/open_map/<%= email %>' method='POST'>
        <button type='submit'>TRACK</button>
    </form>

     <form action="/user/cancel/<%= email %>" method = "POST">
        <button type= 'submit'>cancel order</button>
     </form>
    <% }else{  %>
        <h3>you dont have any order</h3>
    <% } %>
   
</body>
</html>