<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to partner home</h1>

    <h3>name : <%= name %></h3>
    <h3>email :<%= email %></h3>

    <form action = '/partner/get_list' method = 'POST'>
        <button type = 'submit'>get ordered list</button>
    </form>
</body>
</html>