<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>register</h1>

    <form action = '/project/register' method = 'POST'>
        <input type = 'text' name = 'name' placeholder="name">
        <input type = 'text' name = 'email'placeholder='email'>
        <input type = 'text' name = 'password' placeholder="password">
        <input type = 'number' name = 'location' placeholder="location : pin code">
        <input type = 'text' name = 'branchname' placeholder="branch name">
         <label for="role">Select Role:</label>
    <select name="role" id="role" required>
        <option value="">-- Select --</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
        <option value="partner">Partner</option>
    </select>
        <button type = 'submit'>submit</button>
    </form>
</body>
</html>