<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>register</h1>
    
    <h3>name : <%= name %></h3>
    <h3>email :<%= email %></h3>

    <form action = '/<%= rolla%>/register' method = 'POST'>
        <input type = 'text' name = 'name' placeholder="name">
        <input type = 'text' name = 'email'placeholder='email'>
        <input type = 'text' name = 'password' placeholder="password">
        <input type = 'number' name = 'location' placeholder="location : pin code">
        <input type = 'text' name = 'branchname' placeholder="branch name">
        <button type = 'submit'>register</button>
    </form>
</body>
</html>